.Parent{
    height: 30px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

*{
    margin:0px;
    padding:0px;
}

#two{
    display: flex;
    -webkit-text-fill-color: white;

}
.vishu{
    background-color: black;
    padding-right: 50px;
}

#my{
    color: white;
    display: flex;
}


#img{
    padding-top: 30px;
    display: flex;
    
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
